.text-overlay, .text-overlay-mindre {
  animation: transitionIn 0.s;
}

.text-overlay-minst-a {
  animation: transitionIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
}

.text-overlay-minst-b {
  animation: transitionIn 1s ease-in-out 0.8s forwards;
  opacity: 0;
}

.text-overlay-minst-c {
  animation: transitionIn 1s ease-in-out 1.1s forwards;
  opacity: 0;

}

.knapp-start {
  animation: transitionIn 0.7s ease-in-out 1.4s forwards;
  opacity: 0;
}


@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(40%); /* Off-screen at the bottom */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Original position */
  }
}



body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 2000px;
  position: relative; /* Needed for positioning the circle */
  overflow-x: hidden; /* Prevent horizontal overflow */

  
}

body::before {
  content: '';
  position: absolute;
  top: 720px; /* Adjust position */
  left: 900px; /* Adjust position */
  width: 1200px; /* Circle size */
  height: 1200px; /* Circle size */
  background-color: #007bff; /* Blue color */
  border-radius: 50%;
  opacity: 0.04; /* Adjust transparency */
  z-index: -1; /* Push the circle behind the content */
}

.container{
  width: 100%;
  min-height: 1000vh;
  background-color: rgb(191, 217, 239);
  background-size: cover;
  background-position: center;
}

nav{
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo{
  padding-left: 100px;
  width: 180px;
  cursor: pointer;
}

nav ul{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 25px;
}

nav ul li {
  display: inline-block;
  margin: 10px 15px;
  margin-right: 20px;
}

nav ul li a {
  color: #070707;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

nav ul li a:hover {
  color: gray;
  cursor: pointer;

}

.btn{
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border: none;
  outline: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(76, 62, 238);
  transition: background-color 0.3s ease; 
}

.btn:hover {
  background-color: #0072ec;
  cursor: pointer;
}

.jahaja{
  margin-right: 100px;
    text-decoration: none; /* Removes the underline from the anchor tag */
}

.image-container {
  position: relative; /* Positioning context for the text */
  width: 100%;
  height: 700px; /* Height of the image container */
  background-image: url('photos/business-concept-with-copy-space-office-desk-table-with-pen-focus-analysis-chart-computer-notebook-cup-coffee-desk-vintage-tone-retro-filter-selective-focus\ 1.png'); /* Image as the background */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}

.text-overlay {
  position: absolute; /* Position the text on top of the image */
  top: 35%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: white;       /* White text */
  font-size: 56px;     /* Font size */
  font-weight: bold;   /* Bold text */
}

.text-overlay-mindre {
  position: absolute; /* Position the text on top of the image */
  top: 47%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: white;       /* White text */
  font-size: 26px;     /* Font size */
  font-weight: bold;   /* Bold text */
}

.text-overlay-minst-a {
  position: absolute; /* Position the text on top of the image */
  top: 57%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: white;       /* White text */
  font-size: 16px;     /* Font size */
  font-weight: 300;     /* Font size */

}

.text-overlay-minst-b {
  position: absolute; /* Position the text on top of the image */
  top: 64%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: white;       /* White text */
  font-size: 16px;     /* Font size */
  font-weight: 300;     /* Font size */

}

.text-overlay-minst-c {
  position: absolute; /* Position the text on top of the image */
  top: 71%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: white;       /* White text */
  font-size: 16px;
  font-weight: 300;     /* Font size */
}

.knapp-start{
  position: absolute; /* Position the text on top of the image */
  top: 82%;           /* Center vertically */
  left: 15%;          /* Center horizontally */
  color: rgb(246, 246, 246);       /* White text */
  font-size: 16px;     /* Font size */
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border: none;
  outline: 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(76, 62, 238);
  transition: background-color 0.3s ease; 
}

.knapp-start:hover {
  background-color: #0072ec;
  cursor: pointer;
}

.om-oss{
  display: flex;
  align-items: center;

}


.om-oss-foto{
  margin-top: 100px;
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.om-oss-text{
  margin-top: 100px;
  padding: 100px;
  width: 60%; /* Adjust width as needed */
}

.om-oss-text h1{
  margin: 0;
  font-size: 24px;
  width: 400px;
}

.om-oss-text p{
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  width: 500px;
}

.vara-tjanster{
  margin-top: 100px;
  text-align: center;
  color: rgb(35, 20, 199);
  font-weight: 500;
  font-size: 30px;
  
}

.container-tjanster {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 100px;
  max-width: 1000px;
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 8px;
  margin:auto;
  padding-top: 70px;
}



.item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.item img {
  width: 60px; /* Symbol size */
  height: 60px;
  margin-bottom: 9px;
}

.item p {
  margin: 0;
  font-size: 14px;
  color: #585858;
}

.item h1 {
  margin-bottom: 9px;
  font-size: 16px;
  color: #000000;
  text-align: left;
  font-weight: 400;
}









.contact-container{
  margin-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(270deg, #1c13a0, #483bff);
  background-position: center; /* Centers the image within the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */

}


.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  padding-left: 10px;
  font-weight: 500;
  font-size: 30px;
  color: rgb(244, 244, 244);
  margin-bottom: 5px;
}

.contact-left-title hr{
  margin-left: 10px;
  border: none;
  width: 200px;
  height: 2px;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-input{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: gray;
  border-radius: 50px;
}


.contact-left textarea{
  width: 400px;
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}



.contact-input::placeholder{
  color: gray;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #fe7819, #d5960d);
  cursor: pointer;
}

.contact-left button:hover{
  background: linear-gradient(270deg, #fc7f25, #eaa817);
  cursor: pointer;
  background-position: 100% 0; /* Simulates gradient movement */
}



.contact-right{
  width: 400px;
}

.right-foto{
  width: 180px;
}


.right-header{
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.right-text-first{
  font-size: 14px;
  color: white;
}
.right-text{
  font-size: 14px;
  color: white;
}

@media (max-width:900px) {
  .contact-input{
    width: 80vw;
  }

  .contact-left textarea{
    width: 80vw;
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
  }

  .contact-right{
    display: none;
  }

}

.srf-feed{
  height: 770px;
  margin-top: 100px;
}

.right-text-more{
    font-size: 14px;
    color: white;
}

.bold-text{
  font-weight: bold;
}

.karta{
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.kontakta-oss-text{
  font-size: 14px;
  color: white;
  padding-left: 10px;
}





.footer {
  background: linear-gradient(#ffffff, #e7e7e7);  
  padding-top: 40px; /* Add some padding */
  padding-bottom: 5px;
  color: rgb(10, 10, 10);
}

.footer-container {
  max-width: 1200px; /* Set a max width for the footer content */
  margin: 0 auto; /* Center the footer container */
}

.footer-columns {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-around; /* Space columns unevenly */
  gap: 30px; /* Optional: Add spacing between columns */
}

.first-column {
  margin-right: auto; /* Push the first column to the left */
}

.second-column,
.third-column {
  margin-left: auto; /* Push the second and third columns to the right */
}

.footer-columns > div {
  text-align: start; /* Center text within each column */
}

.first-column img {
  max-width: 100%; /* Ensure the image fits within the column */
  height: auto;
  margin-bottom: 50px;
  margin-top: 0.5rem;
}

.footer-texter-adress {
  margin: 0rem;
  font-size: 14px;
}

.footer-texter {
  color: rgb(10, 10, 10);
  margin: 0rem;
  font-size: 14px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.footer-texter:hover {
  color: gray;
  cursor: pointer;

}

.bold-text {
  font-weight: bold;
  font-size: 18px;

}

.copyright{
  font-size: 12px;
}


